.c {
  &-alert {
    padding-top: $headerHeight;
    text-align: center;
    color: $White;
    background-color: $CheckBgColor;
  }
  &-message__alert strong {
    color: $CheckBgColor;
  }
  &-alert__success {
    color: blue;
  }
}