.c {
  &-atagbtn {
    display: block;
    text-align: center;
    letter-spacing: $letter-spacing;
  }
  &-topbtn,
  &-endbtn {
    background-color: $btnBaseColor;
    color: $White;
    width: 30%;
    padding: $space_xs $space_l;
  }
  &-twitterbtn {
    background-color: $twitterColor;
    color: $White;
    padding: $space_m $space_xm;
    width: 40%;
    border: 1px solid $White;
    margin: 0 auto;
    @include mq(){
      width: 80%;
    }
  }
  &-twitterbtn:hover {
    opacity: 0.9;
    transition: .5s;
  }
  &-headerlogobtn {
    color: $White;
  }
  &-authbtn {
    width: 70%;
    border: none;
    display: block;
    margin: $space_m auto;
    padding: $space_xs $space_2l;
    background: $btnBaseColor;
    color: $White;
    letter-spacing: $letter-spacing;
    font-size: $font-size_14px;
  }
  &-authbtn:hover,
  &-topbtn:hover {
    background: $btnHoverColor;
    transition: .5s;
  }
  &-rankingtitlebtn {
    font-size: $font-size_18px;
    color: $RnkingColor;
  }
  &-autofollowbtn,
  &-autofollowbtn__active {
    padding: $space_s;
    border-style: none;
    margin-bottom: $space_m;
  }
  &-followbtn,
  &-autofollowbtn {
    background-color: $White;
    color: $twitterColor;
    border-style: solid;
    border-color: #00acee;
  }
  &-followbtn {
    padding: 0 $space_s;
    margin: 0;
    @include mq() {
      margin: $space_m 0;
      padding: $space_s $space_xs;
    }
  }
  &-autofollowbtn__active {
    background-color: $twitterColor;
    color: $White;
  }
  &-topbtn {
    margin: $space_m $space_xm;
    @include mq() {
      width: 75%;
      margin: $space_2l $space_xm;
    }
  }
  &-endbtn {
    margin: 0 auto;
  }
  &-pagetopBtn {
    position: fixed;
    right: $space_xxs;
    bottom: $space_xxs;
    width: $space_2xl;
    height: $space_2xl;
    line-height: $space_xl;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background: #5bc8ac;
    opacity: 0;
    transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
    &__icon {
      color: $White;
      font-size: $font-size_16px;
      margin-top: 25%;
    }
    & visible {
      opacity: 1;
      transform: translate3d(0, -10px, 0);
    }
  }
}