.p {
  &-accountarea {
    background: $White;
    box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
    &__header {
      display: flex;
      justify-content: space-between;
      @include mq() {
        display: block;
      }
    }
    &__name {
      font-size: $font-size_18px;
      margin: 0;
      padding-top: $space_s;
    }
    &__idname {
      font-size: $font-size_14px;
      margin: 0;
      padding-bottom: $space_s;
      color: $accountIDcolor;
    }
  }
  &-profilecount {
    display: flex;
  }
  &-profilecount p {
    margin: $space_s $space_xs 0;
  }
  &-profile__proftitle,
  &-profile__tweet {
    margin: 0;
    padding-top: $space_xs;
    font-size: $font-size_14px;
    color: $twitterColor;
  }
  &-profile__sentence {
    margin: 0;
  }
}
