.c {
  &-atagbtn {
    display: block;
    text-align: center;
    letter-spacing: $letter-spacing;
  }
  &-topbtn,
  &-endbtn {
    background-color: $btnBaseColor;
    color: $White;
    width: 30%;
    padding: $space_xs $space_l;
  }
  &-twitterbtn {
    background-color: $twitterColor;
    color: $White;
    padding: $space_m $space_xm;
    width: 40%;
    border: 1px solid $White;
    margin: 0 auto;
    @include mq(){
      width: 80%;
    }
  }
  &-headerlogobtn {
    color: $White;
  }
  &-authbtn{
    width: 70%;
    border: none;
    display: block;
    margin: $space_m auto;
    padding: $space_xs $space_2l;
    background: $btnBaseColor;
    color: $White;
    letter-spacing: $letter-spacing;
    font-size: $font-size_14px;
    @include mq(){
      font-size: $font-size_11px;
    }
  }
  &-authbtn:hover {
    background: $btnHoverColor;
    transition: .5s;
  }
  &-rankingtitlebtn {
    font-size: $font-size_14px;
    color: $RnkingColor;
  }
  &-autofollowbtn,
  &-autofollowbtn__active {
    padding: $space_s;
    border-style: none;
    margin-bottom: $space_m;
  }
  &-autofollowbtn {
    background-color: $White;
    color: $twitterColor;
    border-style: dotted;
    border-color: #00acee;
  }
  &-autofollowbtn__active {
    background-color: $twitterColor;
    color: $White;
  }
  &-topbtn {
    margin: $space_m $space_xm;
    @include mq() {
      width: 75%;
      margin: $space_2l $space_xm;
    }
  }
  &-endbtn {
    margin: 0 auto;
  }
}