.c {
  &-pagination{
    display: flex;
    justify-content: center;
    padding: $space_xs 0;
    &__item {
      padding: 0 $space_xs $space_m;
    }
    .active {
      color: $CheckBgColor;
    }
  }
}