.l {
  &-header {
    background-color: $headerBgColor;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
  }
  &-headerlogo {
    margin: $space_xm $space_l;
  }
  &-nav {
    margin-left: auto;
    margin-top: $space_xxm;
    margin-bottom: $space_xm;
    margin-right: $space_m;
  }
  &-list {
    display: inline-block;
    margin: 0 $space_m;
  }
  &-listwrapper {
    margin: 0;
  }
}