.l {
  &-header {
    background-color: $headerBgColor;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
  }
  &-header__logo {
    margin: $space_xm $space_l;
    @include mq(){
      margin: $space_xxm $space_l;
    }
  }
  &-header__login {
    margin: $space_ss $space_xl;
    display: block;
    margin-left: auto;
    @include mq(){
      margin: $space_ss $space_m;
      display: block;
      margin-left: auto;
    }
  }
  &-nav {
    margin-left: auto;
    margin-top: $space_xm;
    margin-bottom: $space_xm;
    margin-right: $space_m;
  }
  &-list {
    display: inline-block;
    margin: 0 $space_m;
  }
  &-listwrapper {
    margin: 0;
  }
}