.l{
  &-maintitle {
    margin: $space_m 0;
  }
  &-cryptolist {
    width: 100%;
    margin-bottom: $space_m;
    padding-bottom: $space_10l;
    @include mq() {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0.1rem;
    }
  }
  &-cryptoarea {
    margin: $space_m 0;
    padding: $space_m;
  }
  &-cryptoranking {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    margin-top: $space_s;
    margin-bottom: $space_xs;
  }
}
