.l{
  &-loginpage,
  &-registpage,
  &-mainpage,
  &-accountpage,
  &-newspage,
  &-authpage {
    max-width: $site-width;
    margin: 0 auto;
    padding-top: $headerHeight;
  }
  &-mainpage {
    height: $mainpageheight;
  }
  &-loginpage,
  &-authpage {
    height: 90vh;
  }
  &-registpage {
    height: 110vh;
  }
  &-newspage{
    height: 260vh;
  }
  &-loginwrapper,
  &-regitwrapper,
  &-mainwrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: $space_l;
  }
  &-loginform,
  &-registform {
    width: 100%;
    padding: $space_2l $space_xl;
    @include mq(){
          padding: $space_2l $space_xs;
    }
  }
}
