.l{
  &-toppagecontent {
    padding-top: $headerHeight;
    width: 80%;
    margin: 0 auto;
  }
  &-firstview,
  &-secondview {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
  }
  &-toparea {
    padding: $space_4l $space_m;
    display: flex;
    justify-content: center;
  }
  &-toptwitterarea {
    text-align: center;
    margin: 0 auto;
    padding: $space_3l $space_m;
  }
  &-introduction {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: $space_2l;
    &__column {
      width: 30%;
      margin-bottom: $space_xxs;
      margin: $space_m;
    }
  }
}
