.l {
  &-toppagecontent,
  &-introend {
    width: 80%;
    margin: 0 auto;
    @include mq() {
      width: 100%;
    }
  }
  &-firstview {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
  }
  &-secondview {
    height: 145vh;
    width: 100%;
    margin: 0 auto;
    @include mq() {
      height: 300vh;
    }
  }
  &-toparea {
    padding: $space_4l $space_m;
    display: flex;
    justify-content: center;
    @include mq() {
      display: list-item;
      padding: $space_l $space_m;
    }
  }
  &-toptwitterarea {
    text-align: center;
    margin: 0 auto;
    padding: $space_3l $space_m;
  }
  &-introduction {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: $space_2l;
    &__column {
      width: 30%;
      margin-bottom: $space_xxs;
      margin: $space_m;
      @include mq() {
        width: 100%;
      }
    }
  }
  &-toppagecontent {
    padding-top: $headerHeight;
  }
  &-introend {
    padding-top: $headerHeight;
    @include mq() {
      padding-top: $space_l;
    }
  }
}
