.p {
  &-cryptolist input {
    display: none;
  }
  &-cryptoname {
    display: inline-block;
    float: left;
    cursor: pointer;
    width: 165px;
    margin: 1;
    padding: 12px 5px;
    background: $noCheckBgColor;
    color: $noCheckColor;
    font-size: $font-size_11px;
    text-align: center;
    line-height: 1;
    transition: .2s;
    @include mq() {
      display: block;
      float: none;
      width: 20vh;
    }
  }
  &-cryptolist input[type="checkbox"]:checked + label {
    background-color: $CheckBgColor;
    color: $White;
  }
  &-cryptoarea {
    background: $White;
    box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
  }
  &-RnkingSlect {
    margin: $space_m $space_m $space_m 0;
  }
  &-cryptoranking input {
    display: none;
  }
  &-cryptoranking input[type="radio"]:checked + label {
    background-color: $RnkingTitleColor;
    color: $White;
  }
  &-cryptoranking label {
    display: block;
    float: left;
    cursor: pointer;
    width: 85px;
    margin: 0;
    padding: $space_xs 5px;
    border-right: 1px solid #abb2b7;
    background: #e7eaeb;
    color: #9b9b9b;
    font-size: $font-size_8px;
    text-align: center;
    line-height: 1;
    transition: .2s;
  }
  &-cryptoranking label:last-of-type {
    border-right: 0px;
    border-radius: 0 3px 3px 0;
  }
}
