.p {
  &-cryptolist input {
    display: none;
  }
  &-cryptoname {
    display: inline-block;
    float: left;
    cursor: pointer;
    width: 165px;
    margin: 1;
    padding: 12px 5px;
    background: $noCheckBgColor;
    color: $noCheckColor;
    font-size: $font-size_11px;
    text-align: center;
    line-height: 1;
    transition: .2s;
    @include mq() {
      display: block;
      float: none;
      width: 20vh;
    }
  }
  &-cryptolist input[type="checkbox"]:checked + label {
    background-color: $CheckBgColor;
    color: $White;
  }
  &-cryptoarea {
    background: $White;
    box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
  }
  &-RnkingSlect {
    margin: $space_m $space_m $space_m 0;
  }
}
