.p {
  &-toppagetitle {
    color: $White;
    font-weight: 800;
    font-size: $font-size_24px;
    letter-spacing: $letter-spacing;
  }
  &-firstview {
    position: relative;
    background: url('images/toppage/firstview_backgtound.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }
  &-firstview::before{
    @include mq() {
      background: url('images/toppage/firstview_backgtound.png') no-repeat center;
      background-size: cover;
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100vh;
    }
  }
  &-toppageintoroduce,
  &-toppageend {
    text-align: center;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: $font-size_18px;
    margin-top: 0;
  }
  &-introduction {
    &__title {
      text-align: center;
      border-bottom: dashed 2px $boxunderColor;
      letter-spacing: $letter-spacing;
      margin-bottom: $space_m;
      font-size: 1.0rem;
    }
    &__img {
      width: 90%;
      margin: 0 auto;
      position: relative;
    }
    &__img img {
      width: 100%;
      vertical-align: middle;
      object-fit: contain;
    }
    &__comment {
      text-align: center;
    }
    &__comment p {
      letter-spacing: $letter-spacing;
      line-height: 2.5;
      margin: 0
    }
  }
}
